@import "../../styles/variables.scss";

.pf-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 6px 16px;
  border-radius: 8px;
  gap: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  //custom radius
  &.rsm {
    border-radius: calc(0.25rem *1);
  }
  &.rmd {
    border-radius: calc(0.5rem *1);
  }
  &.rlg {
    border-radius: calc(1rem *1);
  }

  //variants
  &.primary {
    color: $pf-color-white;
    background-color: $primary-color-green;
    svg {
      fill: $pf-color-white !important;
    }

    //sizes
    &.sm {
      width: 144px;
      height: 32px;
      font-size: 14px;
    }
    &.md {
      width: 167px;
      height: 48px;
      font-size: 16px;
    }
    &.lg {
      width: 167px;
      height: 56px;
      padding: 16px;
      font-size: 16px;
    }
  }
  &.primary:hover {
    background-color: $primary-color-dark-green;
  }
  &.primary:active {
    background-color: $primary-color-light-green;
  }
  &.primary:disabled {
    background-color: $primary-color-gray;
    color: $pf-color-gray;
    cursor: not-allowed;
    svg {
      fill: $pf-color-gray !important;
    }
  }

  &.secondary {
    background-color: $secondary-color-white;
    border: 2px solid $primary-color-green;
    color: $primary-color-green;
    svg {
      fill: $primary-color-green !important;
    }

    //sizes
    &.sm {
      width: 144px;
      height: 32px;
      font-size: 14px;
      padding: 4px 16px;
    }
    &.md {
      width: 167px;
      height: 48px;
      font-size: 16px;
      padding: 12px 16px 12px 16px;
    }
    &.lg {
      width: 167px;
      height: 56px;
      padding: 16px;
      font-size: 16px;
    }
  }
  &.secondary:hover {
    border: 2px solid $primary-color-dark-green;
    color: $primary-color-dark-green;
    svg {
      fill: $primary-color-dark-green !important;
    }
  }
  &.secondary:active {
    border: 2px solid $primary-color-light-green;
    color: $primary-color-light-green;
    svg {
      fill: $primary-color-light-green !important;
    }
  }
  &.secondary:disabled {
    border: 2px solid $pf-color-gray;
    color: $pf-color-gray;
    cursor: not-allowed;
    svg {
      fill: $pf-color-gray !important;
    }
  }

  &.link {
    background-color: transparent;
    color: $primary-color-green;
    text-decoration: underline;
    padding: 4px 16px 4px 16px;
    svg {
      fill: $primary-color-green !important;
    }
    
    //sizes
    &.sm {
      width: 99px;
      height: 18px;
      font-size: 14px;
      padding: 0px 8px 0px 8px;
    }
    &.md {
      width: 122px;
      height: 24px;
      font-size: 16px;
    }
    &.lg {
      width: 135px;
      height: 32px;
      font-size: 16px;
    }
  }
  &.link:hover {
    color: $primary-color-dark-green;
    text-decoration: underline;
    background-color: $link-color-gray;
    svg {
      fill: $primary-color-dark-green !important;
    }
  }
  &.link:active {
    color: $primary-color-light-green;
    text-decoration: underline;
    background-color: $link-color-gray;
    svg {
      fill: $primary-color-light-green !important;
    }
  }
  &.link:disabled {
    color: $pf-color-gray;
    text-decoration: underline;
    background-color: $link-color-gray;
    cursor: not-allowed;
    svg {
      fill: $pf-color-gray !important;
    }
  }

  &.link-neutral {
    background-color: transparent;
    color: $pf-color-gray;
    text-decoration: underline;
    padding: 4px 16px 4px 16px;
    svg {
      fill: $pf-color-gray !important;
    }

    //sizes
    &.sm {
      width: 99px;
      height: 18px;
      font-size: 14px;
      padding: 0px 8px 0px 8px;
    }
    &.md {
      width: 122px;
      height: 24px;
      font-size: 16px;
    }
    &.lg {
      width: 135px;
      height: 32px;
      font-size: 16px;
    }
  }

  &.link-no-underline {
    background-color: transparent;
    color: $pf-color-gray;
    text-decoration: none;
    gap: 2px;
    padding: 4px 16px 4px 16px;

    //sizes
    &.sm {
      width: 99px;
      height: 18px;
      font-size: 14px;
      padding: 0px 8px 0px 8px;
    }
    &.md {
      width: 122px;
      height: 24px;
      font-size: 16px;
    }
    &.lg {
      width: 135px;
      height: 32px;
      font-size: 16px;
    }
  }

  &.neutral {
    color: $pf-color-dark-gray;
    background-color: $neutral-color-light-blue;
    svg {
      fill: $pf-color-dark-gray !important;
    }

    //sizes
    &.sm {
      width: 144px;
      height: 32px;
      font-size: 14px;
    }
    &.md {
      width: 167px;
      height: 48px;
      font-size: 16px;
    }
    &.lg {
      width: 167px;
      height: 56px;
      padding: 16px;
      font-size: 16px;
    }
  }
  &.neutral:hover {
    background-color: $neutral-color-dark-blue;
    color: $pf-color-white;
    svg {
      fill: $pf-color-white !important;
    }
  }
  &.neutral:active {
    background-color: $neutral-color-blue;
    color: $pf-color-white;
    svg {
      fill: $pf-color-white !important;
    }
  }
  &.neutral:disabled {
    background-color: $neutral-color-gray;
    color: $pf-color-gray;
    cursor: not-allowed;
    svg {
      fill: $pf-color-gray !important;
    }
  }

  &.neutral-secondary {
    background-color: $secondary-color-white;
    border: 2px solid $neutral-secondary-color-gray;
    color: $neutral-secondary-color-gray;
    svg {
      fill: $neutral-secondary-color-gray !important;
    }

    //sizes
    &.sm {
      width: 144px;
      height: 32px;
      font-size: 14px;
      padding: 4px 16px;
    }
    &.md {
      width: 167px;
      height: 48px;
      font-size: 16px;
      padding: 12px 16px 12px 16px;
    }
    &.lg {
      width: 167px;
      height: 56px;
      padding: 16px;
      font-size: 16px;
    }
  }
  &.neutral-secondary:hover {
    border: 2px solid $neutral-secondary-color-dark-blue;
    color: $neutral-secondary-color-dark-blue;
    svg {
      fill: $neutral-secondary-color-dark-blue !important;
    }
  }
  &.neutral-secondary:active {
    border: 2px solid $neutral-secondary-color-blue;
    color: $neutral-secondary-color-blue;
    svg {
      fill: $neutral-secondary-color-blue !important;
    }
  }
  &.neutral-secondary:disabled {
    border: 2px solid $pf-color-gray;
    color: $pf-color-gray;
    cursor: not-allowed;
    svg {
      fill: $pf-color-gray !important;
    }
  }
}
.pf-button:focus {
  outline: none;
}

.full-with {
  width: 100% !important;
}