//COLORS
$primary-color-green: #4CA80B;
$primary-color-dark-green: #175E1A;
$primary-color-light-green: #6BBE22;
$primary-color-gray: #E0E3E7;

$secondary-color-white: #fff;

$link-color-gray:#F6F7F8;

$neutral-color-light-blue: #CDDCF7;
$neutral-color-dark-blue: #1A479A;
$neutral-color-blue: #3A74DE;
$neutral-color-gray: #E0E3E7;

$neutral-secondary-color-gray: #515A69;
$neutral-secondary-color-dark-blue: #2A5CB6;
$neutral-secondary-color-blue: #5688E3;


$pf-color-white: #fff;
$pf-color-gray: #7D889B;
$pf-color-dark-gray: #3D444F;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
$font-poppins: 'Poppins', Arial, Helvetica, sans-serif;
